/* GENERAL TO HSK PLUGIN */
.hsk-events-container {
    margin-top: 50px;
}

html[lang|="en"] .hsk-events-container .en {
    display: inherit;
}

html[lang|="nb"] .hsk-events-container .no {
    display: inherit;
}

html:not([lang|=en]) .hsk-events-container .en {
    display: none;
}

html:not([lang|=nb]) .hsk-events-container .no {
    display: none;
}

/* EVENT LIST */
#hsk-filter-bar {
    margin-bottom: 30px;
}

#hsk-filter-bar input,
#hsk-filter-bar select {
    font-size: 1em;
    padding: 8px;
    font-weight: normal;
    width: 100%;
    border: 1px solid #e0e0e0;
    height: 36px;
}

#hsk-events-count-container {
    margin-bottom: 15px;
}

#hsk-events-top-placeholder {
    text-align: right;
}

.hsk-event {
    color: white !important;
    margin-bottom: 20px;
}

.hsk-add-to-blacklist {
    position: absolute;
}

.hsk-add-to-blacklist button {
    background: white;
    border: 1px solid grey;
    display: block;
    margin-left: 5px;
    margin-top: 5px;
    z-index: 10;
}

.hsk-event-image-container {
    height: 220px;
    overflow: hidden;
}

.hsk-event-ribbon {
    background-color: orange;
    font-size: 18px;
    /* width: 200px; */
    text-align: center;
    height: 40px;
    color: white;
    line-height: 40px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 37px;
    right: -120px;
    position: relative;
}

.hsk-event-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hsk-event-title-container a {
    display: block;
}

.hsk-event-title {
    min-height: 90px;
    font-size: 21px;
    color: white;
    padding: 10px 14px;
    padding-top: 20px;
    padding-bottom: 0;
    line-height: 1.3;
}

.hsk-meta {
    padding-top: 0;
    padding: 10px 15px;
    min-height: 120px;
}

.hsk-meta-item {
    font-size: 13px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hsk-meta-item img {
    margin-right: 5px;
    max-width: 20px;
}

.hsk-meta-item a {
    color: white;
}

.hsk-centered-button {
    text-align: center;
}

#load-more-events-btn {
    padding: 20px;
    font-size: 18px;
    margin-top: 30px;
}

/* EVENT DETAILS */
.hsk-all-events {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
}

.hsk-all-events div {
    padding: 10px;
    border: 1px solid gray;
}

.hsk-event-details-image img {
    margin: 0 auto;
}

.slick-next {
    right: 0!important;
}
.slick-next:before {
    color: black!important;
}
.slick-prev {
    left: 0!important;
}

.slick-prev:before {
    color: black!important;
}

.hsk-image-footer {
    margin-top: 5px;
    text-align: center;
}

.hsk-image-credits {
    text-align: center;
}

.hsk-event-notice {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    padding: 20px 0;
    font-weight: 500;
    font-size: 22px;
    background: orange;
    margin-top: 20px;
}

.hsk-event-details-upper {
    margin-top: 30px !important;
    padding-bottom: 0;
    min-height: 90px;
}

#hsk-button-show-repetitions {
    background: none;
    border: none;
    font-size: 12px;
    margin-left: 10px;
    display: inline-flex;
    width: 145px;
    text-decoration: none;
}

#hsk-button-show-repetitions img {
    width: 14px;
}

.hsk-event-details-date-repetition-venue {
    color: #65676b;
}

.hsk-event-details-date {
    margin-bottom: 10px;
    font-size: 20px;
    color: #f0284a;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    word-break: break-word;
}

.hsk-event-details-date-repetition {
    margin: 5px;
    border: 1px solid;
    padding: 10px;
}

.hsk-event-details-date-repetition-date-time {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 15px;
}

.hsk-event-repetition-notice {
    color: red;
}

.hsk-event-details-title {
    font-size: 30px;
    line-height: 1.3;
    margin-top: 10px;
}

.hsk-event-details-content {
    margin-top: 30px !important;
}

.hsk-event-details-subtitle {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 15px;
    color: #65676b;
}

.hsk-event-details-main {
    padding-right: 50px;
}

.hsk-event-details-cta {
    padding: 10px 20px;
    color: white !important;
    display: inline-block;
    margin-bottom: 40px;
}

.hsk-event-details-description {
    font-size: 17px;
}

.hsk-event-details-tag {
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
}

.hsk-event-embedded-video-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hsk-event-program {
    margin-top: 50px;
}

.hsk-event-program h2 {
    font-size: 15px;
}

.hsk-program-event {
    min-height: 80px;
    margin-bottom: 20px;
}

.hsk-program-event-title a {
    text-decoration: underline;
}

.hsk-more-info-item {
    margin-bottom: 25px;
    margin-top: 35px;
    font-size: 16px;
}

.hsk-more-info-item,
.hsk-more-info-item td,
.hsk-more-info-item tr {
    border: none !important;
}

.hsk-more-info-itme-separator {
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
}

.hsk-more-info-item-subtitle {
    margin-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.hsk-more-info-item-icon-col {
    width: 40px;
}

.hsk-more-info-item-icon img {
    max-width: 22px;
}

.hsk-more-info-item-content a {
    text-decoration: underline;
    word-break: break-all;
}

.hsk-more-info-item-content-name {
    font-weight: bold;
}

.hsk-more-info-item-content-venue-note {
    font-style: italic;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .grid {
        padding: 0;
    }

    .hsk-event-details-content {
        margin-top: 20px !important;
    }

    .hsk-event-details-links {
        margin-top: 30px;
    }

    .hsk-image-credits {
        text-align: left;
    }
}